/* Left Buttons */

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    background-color: var(--light-pink-transparent);
    height: var(--global-height);
    max-width: 100%;
}

.left:nth-child(1) {
    flex-shrink: 0;
}

.left img {
    border-radius: 0;
    width: auto;
    height: auto;
    object-fit: contain;
}

.left .logo {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.numberBtnsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
    padding: 0 20px 20px 20px;
    width: 100%;
    flex-grow: 1;
}

.numberBtnsWrapper div {
    margin-bottom: 1px;
}

.numberBtnsWrapper:nth-child(1) {
    margin-bottom: 10px;
}

.numberBtn {
    margin: 2px 0;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    width: 100%;
    border: none;
    padding: .7em;
    color: var(--text-pink);
    background-color: var(--dark-blue-transparent);
    text-transform: uppercase;
    flex-shrink: 1;
}

.wideButton {
    flex: auto !important;
    white-space: nowrap;
}

.numberBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .left img {
        height: 140px;
        width: auto;
        z-index: 10;
        transition: all 0.4s ease;
    }

    .left {
        margin: 20px 0 0 0;
        padding: 0;
        flex: 1;
    }

    .numberBtnsWrapper {
        justify-content: center;
        align-items: space-evenly;
        padding-top: 0;
        max-width: none;
        width: 100%;
        transition: all 0.4s ease;
        max-height: min-content;
    }

    .numberBtn {
        transition: all 0.4s ease;
        flex: none;
    }

    .inactive {
        padding-bottom: 0;
        margin: 0;
    }

    .inactiveButton {
        font-size: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .left .logo {
        padding: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .left img {
        height: 100px;
    }

    .numberBtn {
        font-size: 1.4em;
        height: 3rem;
    }

    .inactiveButton {
        font-size: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .inactive {
        padding-bottom: 0;
        margin: 0;
    }
}
