:root {
    --light-pink-opaque: rgba(244, 216, 208, 1);
    --light-pink-transparent: rgba(244, 216, 208, 0.9);
    --dark-blue-opaque: rgba(21, 44, 67, 1);
    --dark-blue-transparent: rgba(21, 44, 67, 0.9);
    --text-pink: #fbe7de;
    --logo-text-pink: #df907d;

    --global-height: 80vh;

    --title-font: 'Rocket Clouds';
}

@font-face {
    font-family: 'Rocket Clouds';
    src: url('../public/Rocket\ Clouds.ttf');
    font-style: normal;
    font-weight: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    max-height: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html {
    background-image: url('../public/background-2.png');
    background-position: 0% 90%;
    background-size: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--light-pink);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    max-width: 90%;
    height: auto;
}

/* Tablets */
@media screen and (max-width: 1000px) {
    html,
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 0%;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    html,
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 0%;
    }
}
